/*fond*/
body.fond1 {
	background-color: #777;
}



body { margin:0; }
body { margin:0;
	font-family: 'Cherry Swash';font-size: 22px;
}
head img{
	  	width: 100px;
	  	height : 100%;
	  	text-align: center;
}

.contenu {
	text-align: center;
   	width:100%;
  	background: #666;
  	margin:auto;
}


/*bandeau projet*/
.bandeau {
	text-align: center;
	font-size:100px;
    width : 100%;
    height : 300px;
    margin : 50px 50 50 50;
    background : #999 repeat center center ;
}

div.internet{
	background-color: #3D3D3D;
	color: white;
	margin:auto;
	text-align: center;
	width:700px;
	border-radius: 10px;

}
div.domainebox{
	background-color: #3D3D3D;
	color: white;
	border-radius: 10px;
	margin: auto;
	text-align: center;
	width:700px;
}


/* Make sure that padding behaves as expected */
* {box-sizing:border-box}

/* Container for skill bars */
.container {
  width: 100%; /* Full width */
  background-color: #ddd; /* Grey background */
}

.skills {
  text-align: right; /* Right-align text */
  padding-top: 10px; /* Add top padding */
  padding-bottom: 10px; /* Add bottom padding */
  color: white; /* White text color */
}
p{
	margin-left: 20px;
}

.Math {width: 90%; background-color: #4CAF50;} /* Green */
.Sin {width: 85%; background-color: #4CAF50;} /* Blue */
.Anglais {width: 80%; background-color: #4CAF50;}
.ETLV1 {width: 70%; background-color: #2196F3;}
.Physique-chimie {width: 65%; background-color: #2196F3;} /* Red */
.ETT {width: 60%; background-color: #2196F3;} /* Dark Grey */
.Allemand {width: 50%; background-color: #f44336;}
.Sport {width: 50%; background-color: #f44336;}


/*bouton*/
nav.menunav {
	text-align: center}
	ul li.btn {
	font-size: 60px;
	text-align: center;
	padding-left: 40px;
	padding: 40px;
	display: inline-block;
	list-style-type: none;


}
nav.menunav ul li.btn a{
	font-size: 30px;
	color: white;
	background-color: black;
	text-decoration: none;
	border-radius: 5px
}
/*bouton animation*/
nav.menunav ul li.btn:hover a{
	color: black;
	background-color: white;
	text-decoration: none;
	transition: 0.5s all;
}




div.présentation2{
	background-color: #3D3D3D;
	color: white;
	border-radius: 10px;
	margin: auto;
	margin-top: 150px;
	text-align: center;
	width:700px;
}
div.présentation3{
	padding-top: 10px;
	padding-bottom: 15px;
	background-color: #3D3D3D;
	color: white;
	border-radius: 10px;
	margin: auto;
	margin-top: 50px;
	margin-bottom: 100px;
	text-align: center;
	width:60%;
}

* {
  box-sizing: border-box;
}

body {
  background-color: #f1f1f1;
}

/* Center website */
.main {
  max-width: 100%;
  margin: auto;
  background: #3D3D3D;
}

.image {
	text-align: center;
 	font-size: 50px;
 	word-break: break-all;
}
.alpes {
	text-align: center;
}
.row {
  margin: 8px;
}

/* Add padding BETWEEN each column (if you want) */
.row,
.row > .column {
  padding: 10px;
  background: #3D3D3D;
}

/* Create four equal columns that floats next to each other */
.column {
  float: left;
  width: 33.33%;
}
.photo{
	text-align: center;
}

/* Clear floats after rows */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Content */
.content {
  background-color: #3D3D3D;
  text-align: center;
  padding: 10px;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 900px) {
  .column {
    width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}



/*h1{
	padding-left: 400px;
	font-weight: bold;
	font-size:100px;
	color: purple;
}
	p.paragraphe1{
		color: red;
		background-color: blue;
		opacity: 0.1;
	}
body {
	background-color: #777;
}*/
